@font-face {
  font-family: font-bold;
  src: url(/fonts/SourceSansPro-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: font-regular;
  src: url(/fonts/SourceSansPro-Regular.ttf);
  font-display: swap;
}

:root {
  --bold-font: "font-bold";
  --regular-font: "font-regular";
  --primary-color: #8b9b32;
  --secundary-color: white;
  --terciary-color: #1a2107;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: auto 0;
  font-family: var(--regular-font);
}

.hidden {
  display: none;
}

/* buttons */

.btn {
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background-color: #8b9b322f;
  transition: 0.4s;
}

.button-preferences {
  background-color: var(--primary-color);
  color: var(--secundary-color);
  font-size: 1em;
  padding: 0.625em 1em;
  border-radius: 2rem;
  border: 1px var(--primary-color) solid;
  width: 13em;
  max-width: 16em;
  flex: 1;
}

.button-preferences:hover,
.button-accept-all:hover {
  color: var(--terciary-color);
}

.button-accept {
  background-color: var(--secundary-color);
  color: var(--terciary-color);
  font-size: 1em;
  padding: 0.625em 1em;
  border-radius: 2rem;
  border: 1px var(--primary-color) solid;
  width: 13em;
  max-width: 16em;
  flex: 1;
}

.button-decline {
  background-color: var(--secundary-color);
  color: var(--terciary-color);
  font-size: 1em;
  padding: 0.625em 1em;
  border-radius: 2rem;
  border: 1px var(--primary-color) solid;
  width: 13em;
  max-width: 16em;
  flex: 1;
}

.button-save {
  background-color: var(--secundary-color);
  color: var(--terciary-color);
  font-size: 1em;
  padding: 0.625em 1em;
  border-radius: 2rem;
  border: 1px var(--primary-color) solid;
  width: 10em;
  max-width: 16em;
  flex: 1;
}

.button-decline-all {
  background-color: var(--secundary-color);
  color: var(--terciary-color);
  font-size: 1em;
  padding: 0.625em 1em;
  border-radius: 2rem;
  border: 1px var(--primary-color) solid;
  width: 10em;
  max-width: 16em;
  flex: 1;
}

.button-accept-all {
  background-color: var(--primary-color);
  color: var(--secundary-color);
  font-size: 1em;
  padding: 0.625em 1em;
  border-radius: 2rem;
  border: 1px var(--primary-color) solid;
  width: 10em;
  max-width: 16em;
  flex: 1;
}

/* Styles first banner */
.banner {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  background: rgba(73, 73, 73, 0.8);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

.banner-wrapper {
  width: 100%;
  max-width: 100%;
  height: auto;
  background: var(--secundary-color);
  padding: 2em;
}

.banner-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 1rem;
  width: 75%;
  margin: auto;
}

.banner-title {
  font-family: var(--bold-font);
  font-size: 1.125em;
  margin-top: 0.5em;
  margin-bottom: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.banner-text {
  line-height: 1.75;
  font-size: 0.9em;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 90%;
}

.banner-link {
  color: black;
}

.banner-link:hover {
  color: var(--primary-color);
}

.banner-buttons-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

/* close button purpose banner */

.close-purposes-banner-wrapper {
  margin-top: -0.3em;
}

.button-x-close {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}

.buttons-purpose-wrapper {
  padding: 1.5em 1em 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

/* Purpose second banner */
.purposes-banner {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  background: rgba(73, 73, 73, 0.8);
  width: 100%;
  height: 100vh;
  align-items: flex-end;
  justify-content: flex-end;
}

.purposes-banner-wrapper {
  max-width: 450px;
  height: 70%;
  background: var(--secundary-color);
  border-radius: 10px 0 0 0;
}

.purposes-banner-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: space-between;
  overflow-y: auto;
}

.purposes-banner-text-wrapper {
  padding: 0 0 1.5em;
  margin: 0 1em;
  border-bottom: 1px #bababa63 solid;
}

.purposes-banner-title {
  margin-top: 0;
  margin-bottom: 0.7em;
  font-size: 1.1em;
  font-family: var(--bold-font);
}

.purposes-banner-text {
  line-height: 1.65;
  font-size: 0.85em;
  margin: 0;
}

.purposes-banner-link {
  color: black;
}

.purposes-banner-link:hover {
  color: var(--primary-color);
}

/* purpose */

.purpose-wrapper {
  padding: 0 1em 1.5em 1em;
  flex: 1;
  overflow-y: auto;
  margin-top: 2em;
}

/* purpose scroll */

.purposes-banner-content::-webkit-scrollbar,
.purpose-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
}

.purposes-banner-content::-webkit-scrollbar:vertical,
.purpose-wrapper::-webkit-scrollbar:vertical {
  width: 6px;
}

.purposes-banner-content::-webkit-scrollbar-button:incement,
.purposes-banner-content::-webkit-scrollbar-button,
.purpose-wrapper::-webkit-scrollbar-button:incement,
.purpose-wrapper::-webkit-scrollbar-button {
  display: none;
}

.purposes-banner-content::-webkit-scrollbar-thumb,
.purpose-wrapper::-webkit-scrollbar-thumb {
  background-color: #7b8831;
  border-radius: 5px;
  border: 2px solid #7b8831;
}

.purposes-banner-content::-webkit-scrollbar-track,
.purpose-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* purpose content */

.purpose-content {
  border: 1px #8b9b322f solid;
  margin-bottom: 1em;
  border-radius: 3px;
  padding: 1em 0 1em 1em;
}

.purpose-details[open] > summary {
  color: var(--primary-color);
  font-family: var(--bold-font);
}

.purpose-details > summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style: none;
  height: 40px;
}

.purpose-details > summary::before {
  content: "\2039";
  transform: rotate(90deg);
  font-size: 2rem;
  display: inline-block;
  transition: transform 0.5s;
}

.purpose-details[open] > summary::before {
  content: "\2039";
  transform: rotate(270deg);
  font-size: 2rem;
  color: black;
  margin-left: -7px;
  margin-right: 7px;
  font-family: var(--regular-font);
}

.purpose-details > summary > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* services */

.service-content {
  width: 92%;
  margin: 0em auto 0.5em 1.5em;
}

.service-description {
  font-size: 0.8em;
  margin: 0.5em 0 0 1.5em;
}

/* cookies wrapper*/

.cookies-wrapper {
  margin: 0.5em 0 1.5em 1.5em;
}

.cookies-wrapper > summary {
  list-style-type: none;
  cursor: pointer;
  font-family: var(--regular-font);
  color: grey;
  text-decoration: underline;
  font-size: 12px;
}

/* cookies table */

.cookie-content {
  margin: 1em 0;
  width: 100%;
}

.cookie-content > tbody {
  font-size: 0.75em;
}

.cookie-row {
  background-color: #e6e9d32f;
}

.cookie-row > td {
  border: none;
  padding: 7px;
}

.cookie-row > td:nth-child(1) {
  width: 75px;
}

.cookies-subtitle {
  color: var(--primary-color);
  font-size: 0.8em;
}

.cookies-subtitle-description {
  font-size: 0.7em;
  border: 1px #8b9b322f solid;
  border-radius: 3px;
  padding: 0.7em;
  line-height: 1.5;
}

.cookies-legal-link-wrapper {
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
}

.cookies-legal-link {
  font-size: 0.7em;
  text-decoration: underline;
  cursor: pointer;
  color: grey;
  padding-bottom: 0.5em;
}

@media screen and (max-width: 1500px) {
  .purposes-banner-content {
    height: 83vh;
  }

  .purposes-banner-wrapper {
    height: 95%;
  }

  .banner-content {
    width: 95%;
  }

  .button-preferences {
    width: 6em;
  }

  .banner-text {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .banner-wrapper {
    width: auto;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: env(safe-area-inset-bottom, 0);
    padding: 1rem;
  }

  .banner-buttons-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .banner-content {
    align-items: center;
  }

  .button-preferences,
  .button-decline,
  .button-accept,
  .button-save,
  .button-accept-all,
  .button-decline-all {
    width: 100%;
    max-width: 100%;
    padding: 0.5em 1em;
    font-size: 0.9em;
  }

  .buttons-purpose-wrapper {
    flex-direction: column-reverse;
    gap: 10px;
    width: 95%;
    margin: auto;
    padding: 1.5em 0 0;
  }

  .purposes-banner-content {
    height: 87.5vh;
    padding: 1em 1em 0.5em 1em;
  }

  .purposes-banner-text {
    line-height: 1.5;
    font-size: 0.75em;
  }
}

@media screen and (max-height: 500px) {
  .purposes-banner-content {
    height: 77vh;
    overflow-y: auto;
  }

  .banner-text {
    line-height: 1.65;
    font-size: 0.8em;
  }

  .purpose-wrapper {
    overflow-y: visible;
  }

  .banner-title {
    font-size: 1em;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .purposes-banner-wrapper {
    max-width: 100%;
  }

  .banner-title {
    font-size: 1em;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
  }

  .purposes-banner-title {
    font-size: 1em;
  }

  .banner-text,
  .purposes-banner-text,
  .service-title {
    font-size: 0.75em;
    line-height: 1.6;
  }

  .purpose-details > summary,
  .service-title {
    font-size: 0.8em;
  }

  .service-description,
  .cookies-subtitle,
  .cookies-wrapper > summary {
    font-size: 0.7em;
  }

  .service-description {
    margin: 0.5em 0 0 0.5em;
  }

  .purposes-banner-content {
    height: 81vh;
}

  .purposes-banner-text-wrapper {
    margin: 0 1em 0 0;
    padding: 0 0 1em;
  }

  .purpose-wrapper {
    padding: 0 0 1.5em 0;
    margin-top: 1.5em;
  }

  .purpose-content {
    padding: 0.75em 0 0.75em 0.75em;
    margin-right: 0.5em;
  }

  .service-content {
    width: 100%;
    margin: 1em auto 0.5em auto;
  }

  .cookies-wrapper {
    margin: 0.5em 1em 1.5em 0.5em;
  }

  .cookies-legal-link-wrapper {
    margin: 1em auto;
    width: 100%;
  }

  .buttons-purpose-wrapper {
    width: 100%;
  }

}
