@font-face {
  font-family: font-bold;
  src: url(/fonts/SourceSansPro-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: font-regular;
  src: url(/fonts/SourceSansPro-Regular.ttf);
  font-display: swap;
}

:root {
  --bold-font: "font-bold";
  --regular-font: "font-regular";
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: auto 0;
  font-family: var(--regular-font);
}

.hidden {
  display: none;
}

/* buttons */

.btn {
  cursor: pointer;
}

.button-preferences {
  background-color: white;
  color: black;
  font-size: 1rem;
  font-family: var(--bold-font);
  padding: 0.625em 2em;
  border-radius: 3px;
  border: 1px black solid;
  width: 13em;
  max-width: 16em;
}

.button-accept {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: var(--bold-font);
  padding: 0.625em 2em;
  border-radius: 3px;
  border: 1px black solid;
  width: 13em;
  max-width: 16em;
}

.button-save {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: var(--bold-font);
  padding: 0.625em 2em;
  border-radius: 3px;
  border: 1px black solid;
  width: 13em;
  max-width: 16em;
}

/* Styles first banner */
.banner {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  background: rgba(73, 73, 73, 0.8);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.banner-wrapper {
  width: 70%;
  max-width: 700px;
  height: auto;
  background: white;
  border-radius: 10px;
  padding: 2rem;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-title {
  font-family: var(--bold-font);
  font-size: 1.125rem;
  margin-top: 0.5rem;
  align-self: flex-start;
}

.banner-text {
  line-height: 1.75;
  font-size: 0.9em;
  margin: 0;
}

.banner-link {
  color: black;
}

.banner-link:hover {
  color: grey;
}

.banner-buttons-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* close button purpose banner */

.close-purposes-banner-wrapper {
  margin-top: -0.3rem;
}

.button-x-close {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}

.buttons-purpose-wrapper {
  padding: 2.5rem 1rem 0;
  flex-shrink: 0;
}

/* Purpose second banner */
.purposes-banner {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  background: rgba(73, 73, 73, 0.8);
  width: 100%;
  height: 100vh;
  align-items: flex-start;
}

.purposes-banner-wrapper {
  width: 50%;
  max-width: 625px;
  height: 100%;
  background: white;
  border-radius: 0 10px 10px 0;
}

.purposes-banner-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}

.purposes-banner-text-wrapper {
  padding: 0 0 1.5rem;
  margin: 0 1rem;
  border-bottom: 1px #bababa63 solid;
}

.purposes-banner-title {
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
  font-family: var(--bold-font);
}

.purposes-banner-text {
  line-height: 1.75;
  font-size: 0.9em;
  margin: 0;
}

.purposes-banner-link {
  color: black;
}

.purposes-banner-link:hover {
  color: grey;
}

/* purpose */

.purpose-wrapper {
  padding: 1.5rem 1rem;
  flex: 1;
  overflow-y: auto;
}

/* purpose scroll */

.purpose-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
}

.purpose-wrapper::-webkit-scrollbar:vertical {
  width: 9px;
}

.purpose-wrapper::-webkit-scrollbar-button:increment,
.purpose-wrapper::-webkit-scrollbar-button {
  display: none;
}

.purpose-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  border-radius: 10px;
  border: 2px solid rgb(88, 88, 88);
}

.purpose-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* purpose content */

.purpose-content {
  border: 1px #bababa63 solid;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 1rem 0 1rem 1rem;
  margin-right: 1rem;
}

.purpose-details > summary {
  cursor: pointer;
  font-family: var(--bold-font);
}

/* services */

.service-content {
  width: 92%;
  margin: 1rem auto;
}

.service-description {
  font-size: 0.8em;
  margin: 0.5rem 0 0 1.5rem;
}

/* cookies wrapper*/

.cookies-wrapper {
  margin: 1rem 0 2rem 1.5rem;
}

.cookies-wrapper > summary {
  list-style-type: none;
  cursor: pointer;
  font-family: var(--regular-font);
  color: grey;
  text-decoration: underline;
  font-size: 12px;
}

/* cookies table */

.cookie-content {
  margin: 1rem 0;
  width: 100%;
}

.cookie-content > tbody {
  font-size: 0.75rem;
}

.cookie-row {
  background-color: #f1f1f1;
}

.cookie-row > td {
  border: none;
  padding: 7px;
}

.cookie-row > td:nth-child(1) {
  width: 75px;
}

.cookies-subtitle {
  color: grey;
  font-size: 0.8rem;
}

.cookies-subtitle-description {
  font-size: 0.7rem;
  border: 1px #bababa63 solid;
  border-radius: 3px;
  padding: 0.7rem;
  line-height: 1.5;
}

.cookies-legal-link-wrapper {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
}

.cookies-legal-link {
  font-size: 0.7rem;
  text-decoration: underline;
  cursor: pointer;
  color: grey;
  padding-bottom: 0.5rem;
}
